In [1]:
%matplotlib inline
# notebook
import matplotlib.pylab as pylab
import matplotlib.pyplot as plt
from collections import Counter
import numpy as np
import pandas as pd
import networkx as nx
from math import sin, cos, sqrt, atan2, radians
from utils import *
from data import *
from trophics import *
from collections import defaultdict
#make the graphs bigger
pylab.rcParams['figure.figsize'] = (32.0, 24.0)
pylab.rcParams['font.size'] = 24

In [21]:
rawEiggData = eiggRawData()
rawEiggData = rawEiggData[(rawEiggData['End date year'] >= 1800.0)]
rawEiggData.head()

C:\Users\davie\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2862: DtypeWarning: Columns (9,22) have mixed types. Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,Recorder,Latitude (WGS84),Longitude (WGS84),End date year,Scientific name,Common name
1,Frank Balfour-Browne,56.8992,-6.19759,1910,Rhantus suturellus,NaN
2,Frank Balfour-Browne,56.8992,-6.19759,1910,Gyrinus substriatus,NaN
3,Frank Balfour-Browne,56.8992,-6.19759,1910,Enochrus fuscipennis,NaN
4,Frank Balfour-Browne,56.8992,-6.19759,1910,Boreonectes multilineatus,NaN
5,Frank Balfour-Browne,56.8992,-6.19759,1910,Nebrioporus assimilis,NaN

In [3]:
foodWeb = retrieveCollatedFoodWeb()
len(foodWeb)

C:\Users\davie\Desktop\Masters\Dissertation\Code\DissertationCode\Eigg\trophics.py:9: DtypeWarning: Columns (2,8,12,13,22,26,27,41,44) have mixed types. Specify dtype option on import or set low_memory=False.
  results = list(map(lambda x: x(), dataSetFunctions))

4263

In [24]:
eiggSpecies = rawEiggData['Scientific name'].str.lower()
eiggSpecies = set(eiggSpecies)

animalsTotal = len(eiggSpecies)
totalFound = 0
for item in eiggSpecies:
    if item in foodWeb:
        totalFound += 1 

print(totalFound / animalsTotal)

0.07804878048780488