In [7]:
%matplotlib inline
# notebook
import matplotlib.pylab as pylab
import matplotlib.pyplot as plt
from collections import Counter
import numpy as np
import pandas as pd
import networkx as nx
from math import sin, cos, sqrt, atan2, radians
from utils import *
from data import *
from trophics import *
from collections import defaultdict
#make the graphs bigger
pylab.rcParams['figure.figsize'] = (32.0, 24.0)
pylab.rcParams['font.size'] = 24

In [8]:
rawEiggData = validatedEiggData()
rawEiggData.head()

C:\Users\davie\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2862: DtypeWarning: Columns (9,22) have mixed types. Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,Recorder,Latitude (WGS84),Longitude (WGS84),Start date year,End date year,Scientific name,Common name
0,unknown,56.902729,-6.15936,1905.0,NaN,meloe violaceus,Violet Oil-beetle
1,Frank Balfour-Browne,56.899200,-6.19759,1910.0,1910.0,rhantus suturellus,NaN
2,Frank Balfour-Browne,56.899200,-6.19759,1910.0,1910.0,gyrinus substriatus,NaN
3,Frank Balfour-Browne,56.899200,-6.19759,1910.0,1910.0,enochrus fuscipennis,NaN
4,Frank Balfour-Browne,56.899200,-6.19759,1910.0,1910.0,boreonectes multilineatus,NaN

In [20]:
foodWeb = retrieveCollatedFoodWeb()
len(foodWeb)

,Species,marine detritus,terrestrial detritus,carrion,Macroalgae,epipellic flora,Emergent vascular plants,Sumergent vascular,Phytoplankton,Oligochaete,...,Pygidiopsoides spindalis,Microphallid 1,Hysterolecitha,Parvatrema,Microphallid 2,Galactosomum,tetraphyllidean,tetraphyllid fish,trypanorynch,Dilepidid
2,marine detritus,0,0,0,0,0,0,0,0,4,...,0,0,0,0,0,0,0,0,0,0
3,terrestrial detritus,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,carrion,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,Macroalgae,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,epipellic flora,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
eiggSpecies = rawEiggData['Scientific name'].str.lower()
eiggSpecies = set(eiggSpecies)

animalsTotal = len(eiggSpecies)
totalFound = 0
for item in eiggSpecies:
    if item in foodWeb:
        totalFound += 1 

print(totalFound / animalsTotal)