In [1]:
%matplotlib inline
import sys
sys.path.insert(1,'../Utilities')
# notebook
import matplotlib.pylab as pylab
import matplotlib.pyplot as plt
from collections import Counter
import numpy as np
import pandas as pd
import networkx as nx
from math import sin, cos, sqrt, atan2, radians,log,log10
import json
from data import listedEiggHotels
from utils import *
from data import *
import seaborn as sns
sns.set_style("darkgrid")

#make the graphs bigger
pylab.rcParams['figure.figsize'] = (32.0, 24.0)
pylab.rcParams['font.size'] = 24

Bad key "text.kerning_factor" on line 4 in
C:\Users\davie\Anaconda3\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test_patch.mplstyle.
You probably need to get an updated matplotlibrc file from
http://github.com/matplotlib/matplotlib/blob/master/matplotlibrc.template
or from the matplotlib source distribution

In [6]:
df = pd.read_csv("C:/Users/davie/Desktop/Masters/Dissertation/Code/DissertationCode/Eigg/IslandDatasets/eigg.csv")
df = df.dropna(subset=['Start date year'])
df = df[df["Start date year"]<2009]
df = df[df["Start date year"]>2006]

df = df[df["Dataset ID"]=='dr528']
df.head()

,NBN Atlas record ID,Occurrence ID,Licence,Rightsholder,Scientific name,Common name,Species ID (TVK),Taxon Rank,Occurrence status,Start date,...,Class,Order,Family,Genus,OSGR 100km,OSGR 10km,OSGR 2km,OSGR 1km,Country,State/Province
13893,925d8fe2-b79e-4d72-9414-d871a3a2b1cb,BTOOBS118745990227214997896,CC-BY-NC,NaN,Circus cyaneus,Hen Harrier,NHMSYS0000530294,species,present,17/08/2007,...,Aves,Falconiformes,Accipitridae,Circus,NM,NM48,NaN,NaN,United Kingdom,Scotland
13986,fee3fae4-7202-42be-9910-225861374619,BTOOBS119062757911721795880,CC-BY-NC,NaN,Circus cyaneus,Hen Harrier,NHMSYS0000530294,species,present,22/09/2007,...,Aves,Falconiformes,Accipitridae,Circus,NM,NM48,NaN,NaN,United Kingdom,Scotland
14038,fd3cab2f-dfb8-4b4e-aab4-2e3b60f08517,BTOOBS119395321851610188335,CC-BY-NC,NaN,Anser anser,Greylag Goose,NBNSYS0000000201,species,present,01/11/2007,...,Aves,Anseriformes,Anatidae,Anser,NM,NM48,NaN,NaN,United Kingdom,Scotland
14039,f3ec0d0c-f988-4704-a538-c25fd972d814,BTOOBS119395347302917685414,CC-BY-NC,NaN,Anthus petrosus,Rock Pipit,NHMSYS0000530158,species,present,01/11/2007,...,Aves,Passeriformes,Motacillidae,Anthus,NM,NM48,NaN,NaN,United Kingdom,Scotland
14040,f044752a-a422-4922-8b91-53b0f2a6e50f,BTOOBS11939534844283327917,CC-BY-NC,NaN,Troglodytes troglodytes,Wren,NHMSYS0000530671,species,present,01/11/2007,...,Aves,Passeriformes,Troglodytidae,Troglodytes,NM,NM48,NaN,NaN,United Kingdom,Scotland